<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naomi.estudio.sa.design.by.osniel.app.mancuernasencasa">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="A"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">

        </activity>
        <activity
            android:name=".activity.Splash_Scream"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RutinaUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.RUTINAUSERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AllExersiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.ALLEXERSICEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MancuernasEnCasaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MANCUERNASENCASAACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>